footer {
    background-color: #ffad8f;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.footer-content {
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 0;
}

.footer-content:hover {
    background-color: #ff9c66;
    transform: translateX(5px);
}

@media only screen and (max-width: 600px) {

    .footer-content {
        margin-left: auto;
        margin-right: auto;
    }
}