.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Čtyři sloupce */
    grid-gap: 20px;
    /* Mezery mezi položkami */
    list-style: none;
    /* Odstranění odrážek */
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 1700px) {
    .grid {
        grid-template-columns: repeat(6, 1fr);
    }
}


@media screen and (max-width: 1699px) and (min-width: 1325px) {
    .grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 1100px) and (min-width: 1101px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1100px) and (min-width: 900px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 899px) and (min-width: 690px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 689px) and (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}


.grid-item {
    width: 180px;
    /* Šířka položky */
    height: 180px;
    /* Výška položky */
    background-color: #ffad8f;
    /* Tmavé pozadí */
    border-radius: 10%;
    /* Zaoblení rohů */
    border: 4px solid transparent;
    /* Rezervace místa pro rámeček */
    transition: transform 0.2s ease, border 0.2s ease;
    overflow: hidden;

}

.grid-item a {
    display: flex;
    /* Flexbox pro centrování obsahu */
    justify-content: center;
    /* Centrovaný text horizontálně */
    align-items: center;
    /* Centrovaný text vertikálně */
    width: 100%;
    /* Roztažení odkazu na celou šířku položky */
    height: 100%;
    /* Roztažení odkazu na celou výšku položky */
    text-decoration: none;
    z-index: 1000;
}

.grid-item:hover {
    transform: scale(1.05);
    /* Zvýšení vizuální velikosti */
    border-color: #160703;
    /* Viditelný rámeček na hover */
}

.grid-item:active {
    transform: scale(0.95);
}

.grid-item h3 {
    margin: 0;
    /* Odstranění defaultního marginu */
    /* Velikost textu */
    text-align: center;
    font-size: 1.3rem;

}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
        /* Jeden sloupec na malých obrazovkách */
        grid-gap: 30px;
    }

    .grid-item {
        height: 12.5rem;
        width: 12.5rem;
        /* Přizpůsobená výška pro mobilní zařízení */
    }
}