.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 sloupce */
    grid-gap: 20px;
    /* Mezery mezi jednotlivými buňkami gridu */
    list-style: none;
}

.grid-item {
    background-color: #25292e;
    padding: 20px;
    text-align: center;
    border-radius: 10%;
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}

.grid h3 {
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-align: center;
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.grid-h3 {
    margin-top: 58px;
    text-shadow: rgba(0, 0, 0, 0.2);
}

.grid-h3-2 {
    margin-top: 38px;
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.grid button {
    text-decoration: none;
    color: white;
}

.grid a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 600px) {
    .grid-item {
        background-color: #2c3036;
        text-align: center;
        border-radius: 10%;
        width: 150px;
        height: 150px;
        font-size: 15px;
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);

    }
}

.ripple-button:disabled {
    cursor: not-allowed;
    /* Další styly pro zobrazení disabled tlačítka, např. změna barvy pozadí nebo textu */
    opacity: 0.5;
    /* Příklad: Změna průhlednosti pro naznačení, že je tlačítko disabled */
}

.ripple-button2:disabled {
    cursor: not-allowed;
    /* Další styly pro zobrazení disabled tlačítka, např. změna barvy pozadí nebo textu */
    opacity: 0.5;
    /* Příklad: Změna průhlednosti pro naznačení, že je tlačítko disabled */
}

.ripple-button3:disabled {
    cursor: not-allowed;
    /* Další styly pro zobrazení disabled tlačítka, např. změna barvy pozadí nebo textu */
    opacity: 0.5;
    /* Příklad: Změna průhlednosti pro naznačení, že je tlačítko disabled */
}


/* ... (Zde může být další kód pro tlačítka a ripple efekt) */

@media screen and (min-width: 1200px) {

    /* Pokud je šířka obrazovky alespoň 1200px, změňte na 4 sloupce */
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
        justify-content: center;
    }


    main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}