header.masthead {
    margin-bottom: 50px;
    background: no-repeat center center;
    background-attachment: scroll;
    position: relative;
    background-size: cover
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
    padding: 100px 0 100px;

}



header.masthead .page-heading,
header.masthead .site-heading {
    text-align: center
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
    font-size: 70px;
    margin-top: 0
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

