@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

p,
li,
ul,
textarea,
.opinion-input,
#search {
    font-family: "Zilla Slab", serif;
    font-weight: 450;
    font-style: normal;
    color: #160703;
    font-size: 20px;
    line-height: 1.6rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.version-info,
button,
#myNavbar a,
.nav-text,
h2,
h3,
h4,
h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #160703;
    font-size: 18px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

::selection {
    background-color: #fb8241;
    /* Barva pozadí výběru */
    color: #382A27;
    /* Barva textu ve výběru */
}

.underlined::selection {
    background-color: #fb8241;
    /* Barva pozadí výběru */
    color: #382A27;
    /* Barva textu ve výběru */
}

.key-icon {
    width: 16px;
    height: 23px;
    display: inline-block;

    border: 1px solid #160703;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #160703;
}

.priklad {
    font-family: "Marcellus", serif;
    font-size: 15px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

.verybig {
    font-size: 60px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #ffe8df;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* Umožňuje vertikální rozložení */
}

hr {
    background-color: #160703;
    height: 3px;
    border: none;
}


img:not(.navImg, footer img),
video {
    border-radius: 10px;
    border: 5px solid #ffad8f;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.Mcard {
    background-color: #ffad8f;
    /* odpovídá Bootstrap text-bg-secondary */
    color: #fff;
    /* textová barva */
    /* maximální šířka */
    border: 1px solid #ddd;
    /* přidání okraje */
    border-radius: 16px;
    /* zaoblené rohy */
}

.Minfo {
    /* tmavší šedá pro hlavičku */
    padding: 0.75rem 1.25rem;
    /* padding */
    border-top-left-radius: 16px;
    /* zaoblené rohy nahoře */
    border-top-right-radius: 16px;
    background-color: #ff946c;
}

.Mtelo {
    padding: 1rem;
}

.Mnadpis {
    font-size: 1.25rem;
    /* velikost písma */
}



@media screen and (max-width: 600px) {
    hr {
        width: 290px;
    }

}

.grid-predmety .subtitle {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

main {
    margin-left: 285px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

/* Změny pro grid a jiné prvky */
section {
    width: 100%;
    max-width: 800px;
    min-width: 10px;
    text-align: center;
    margin: auto;
    padding: 20px;
    flex-grow: 1;
    /* Umožňuje, aby se tato část roztahovala */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Vycentrování obsahu pod sebou */
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 15px;
    }

    main {
        margin-left: 0px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section {
        padding: 3px;
        width: 98%;
    }
}

main a {
    color: #160703;
    padding: 3px;
    background-color: #ffad8f;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s ease;
}

main a:hover {
    background-color: #ff7340;
}

/* Styly pro loading bar */
.loading-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 83.55%;
    margin-left: 285px;
    height: 5px;
    background-color: transparent;
    z-index: 1030;
    overflow: hidden;
}

.loading-bar {
    height: 5px;
    /* Nastavte výšku podle potřeby */
    width: 0;
    background-color: #fb8241;
    /* Modrá barva */

}

@media only screen and (max-width: 600px) {
    .loading-bar-container {
        width: 100%;
        margin-left: 0;
    }

    .verybig {
        font-size: 40px;
    }
}

.underlined {
    text-decoration: underline;
}

.blog-image {
    display: block;
    float: right;
    max-width: 300px;
    min-width: 100px;
    margin-left: 10px;
}

.blog-image div {
    width: auto;
}

.blog-image img {
    background-color: white;
}

.blog-image p {
    float: right;
    padding: 5px;
    border: 5px solid #ff946c;
    background-color: #ffbca4;
    border-radius: 10px;
    text-align: left;
}

.blog-image a {
    background-color: transparent;
}

.blog-image a:hover {
    background-color: transparent;
}

.blog-image p a {
    background-color: #ffad8f;
}

.blog-image p a:hover {
    background-color: #ff7340;
}

@media only screen and (max-width: 600px) {
    .blog-image {
        max-width: 100px;
        height: auto;
    }

    .blog-image p {
        max-width: 100px;
    }

    .blog-image img {
        max-width: 100px;
    }
}

/* Tlačítka */

button {
    border-radius: 10px;
    border: 0px white;
    background-color: #ff946c;
    cursor: pointer;
    outline: none;
    color: #220b00;
    font-size: 16px;
    padding: 10px 20px;
    transition: transform 0.2s ease;
}



button:hover {
    background-color: #ff7340;
    transform: scale(1.05);
    /* Zvýšení vizuální velikosti */
    border-color: #160703;
}

button:active {
    transform: scale(0.95);
}

button:disabled {
    cursor: not-allowed;
    /* Další styly pro zobrazení disabled tlačítka, např. změna barvy pozadí nebo textu */
    opacity: 0.5;
    /* Příklad: Změna průhlednosti pro naznačení, že je tlačítko disabled */
}

@media only screen and (max-width: 600px) {
    button {
        cursor: pointer;
        font-size: 16px;
        padding: 10px 20px;
    }

    .nav-button {
        font-size: 50px;
        position: absolute;
        background-color: transparent;
        top: 0;
        right: 0;
        border: 0px solid black;
    }

    .opennav-button {
        font-size: 50px;
        position: absolute;
        background-color: transparent;
        top: 0;
        right: 0;
        border: 0px solid black;
    }
}

/*matematika*/

mn,
mi {
    font-family: 'Poppins', sans-serif;
}

/* textarea */

textarea {
    border-radius: 10px;
    border: 2px solid #ffad8f;
    background-color: #ffad8f;
    color: #220b00;
    overflow: hidden;
    /* Skryje posuvník */
    resize: none;
    /* Zabrání uživateli měnit velikost */
    padding: 0.5rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

textarea:focus {
    border: 2px solid #220b00;
    outline: none;
}

@media only screen and (max-width: 1200px) {
    textarea {
        min-width: 20rem;
        min-height: 10rem;
        max-width: 20rem;
        max-height: 10rem;
    }
}

@media only screen and (min-width: 1200px) {
    textarea {
        min-width: 50rem;
        min-height: 25rem;
        max-width: 60rem;
        max-height: 15rem;
    }
}

.opinion-input,
#search {
    width: 20rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: 2px solid #ffad8f;
    background-color: #ffad8f;
    color: #220b00;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.opinion-input:focus,
#search:focus,
textarea:focus {
    border: 2px solid #220b00;
    outline: none;
}

button {
    margin: 0.5rem;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.opinions-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

.opinion-card {
    background-color: #ffad8f;
    border-radius: 8px;
    padding: 1rem;
    position: relative;
}

.opinion-card:hover {
    transform: translateY(-2px);
}

.opinion-meta {
    display: flex;
    justify-content: space-between;
    color: #6e2300;
    font-size: 0.875rem;
    font-family: "Poppins", sans-serif;

}

.scroll-to-top {
    visibility: visible;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    margin-top: auto;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .scroll-to-top {
        visibility: hidden;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}


@media only screen and (max-width: 600px) {
    .static-text {
        visibility: hidden;
    }
}


.modal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

/* Aktivní stav – zobrazí modal */
.modal.active {
    display: flex;
}

/* Upravena menší velikost pro 16:9 */
.modal-content {
    background: #ffe8df;
    padding: 15px;
    border-radius: 10px;
    width: 40vw;
    height: calc(40vw * 9 / 16);
    max-width: 600px;
    max-height: 350px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Zavírací tlačítko */
#closeSearch {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

/* Vyhledávací pole – odděleno od křížku */
#search {
    margin: 20px auto 10px;
}

/* Výsledky hledání – menší a s možností scrollování */
#results {
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    border: 1px solid #fb8241;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    scrollbar-color: #ff9c66 transparent;
    transition: all 0.3s ease;
    background: #ffad8f;
}

#results div {
    list-style: none;
    padding: 0;
    background: #ffad8f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.search-result {
    border-bottom: 1px solid #fb8241;
}

#results div:last-child {
    border-bottom: none;
}

#results a {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: transparent;
    text-align: left;
    text-decoration: none;
    /* Zruší podtržení */
    color: inherit;
    font-size: 18px;
}


#results a:hover {
    background-color: #ff7340;
    transition: background-color 0.3s ease-in-out;
}




.search-snippet {
    font-size: 0.9em;
    text-align: right;
    min-width: 120px;
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-snippet span {
    font-weight: bold;
}

#results a {
    text-align: left;
    max-width: 300px;
    background-color: transparent;
}

/* Mobilní zobrazení – 1:1 */
@media (max-width: 600px) {

    /* Změna na čtvercové okno pro mobilní zařízení (1:1) */
    .modal-content {
        width: 80vw;
        height: 80vw;
        max-width: 480px;
        max-height: 480px;
    }

    /* Zvětšení vyhledávacího pole na mobilu */
    #search {
        width: 80%;
        margin: 20px auto 10px;
    }

}

body.scroll-lock {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}


#cookie-consent {
    position: fixed;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffad8f;
    border: 5px solid #ff946c;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1041;
}

#cookie-consent p {
    margin: 0;
}

#cookie-consent button {
    background: #3aa73d;
    color: white;
    width: 150px;

}

#cookie-consent button:hover {
    background: #248f29;
}

#cookie-consent .decline {
    background: #d4332e;
}

#cookie-consent .decline:hover {
    background: #b12722;
}

@media screen and (max-width: 600px) {
    #cookie-consent {
        width: 300px;
        position: fixed;
        bottom: 50px;
        left: 50%;
        background: #ffad8f;
        border: 5px solid #ff946c;
        padding: 15px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}





















body.dark-mode {
    background-color: #1f0900;
    color: #fcede9;
}

footer.dark-mode {
    background-color: #701e00;
    color: #fcede9;
}

.footer-content.dark-mode:hover {
    background-color: #942700;
    color: #fcede9;
}

.grid-item-pred.dark-mode {
    border-color: #701e00;
    background-color: #701e00;
}

.grid-item-pred.dark-mode:hover {
    border-color: #fcede9;
}

button.dark-mode {
    background-color: #942700;
    color: #fcede9;
}

button.dark-mode:hover {
    background-color: #701e00;
}

#MyNavBar.dark-mode {
    background-color: #701e00;
}

.scrollable-menu.dark-mode {
    scrollbar-color: #942700 #701e00;
}

.mobile-menu.dark-mode {
    background-color: #701e00;
}

.mobile-menu.dark-mode .nav-link:hover {
    background-color: #942700;
}

.mobile-header.dark-mode {
    background-color: #701e00;
}

p.dark-mode,
li.dark-mode,
ul.dark-mode,
textarea.dark-mode {
    color: #fcede9;
}

.opinion-input.dark-mode,
#search.dark-mode,
.version-info.dark-mode,
button.dark-mode,
#myNavbar a.dark-mode,
.nav-text.dark-mode,
h2.dark-mode,
h3.dark-mode,
h4.dark-mode,
h5.dark-mode {
    color: #fcede9;
}

#MyNavBar .nav-text.dark-mode {
    color: #fcede9;
}

.navImg:hover.dark-mode,
#MyNavBar .nav-link.dark-mode:hover {
    background-color: #942700;
}

#MyNavBar .nav-item.dark-mode {
    color: #fcede9;
}

hr.dark-mode {
    background-color: #fcede9;
}

main a.dark-mode {
    color: #fcede9;
    background-color: #942700;
}

main a.dark-mode:hover {
    background-color: #701e00;
}


.version-info.dark-mode {
    color: #be3300;
}

.Mcard.dark-mode {
    background-color: #942700;
    border: 1px solid #701e00;
}

.Minfo.dark-mode {
    background-color: #701e00;
}

.loading-bar.dark-mode {
    background-color: #942700;
}

.opinion-input.dark-mode,
#search.dark-mode {
    border: 2px solid #942700;
    background-color: #942700;
}

textarea.dark-mode {
    border: 2px solid #942700;
    background-color: #942700;
}

.opinion-input.dark-mode:focus,
#search.dark-mode:focus,
textarea.dark-mode:focus {
    border: 2px solid #fcede9;
    outline: none;
}

img:not(.navImg, footer img).dark-mode,
video.dark-mode {
    border: 5px solid #942700;
}

.underlined.dark-mode::selection {
    background-color: #fb8241;
    /* Barva pozadí výběru */
    color: #382A27;
    /* Barva textu ve výběru */
}

.modal-content.dark-mode {
    background: #701e00;
}

#results.dark-mode {
    scrollbar-color: #942700 #701e00;
}

.search-result.dark-mode {
    color: #6b1010;
}

.key-icon.dark-mode {
    border: 1px solid #fcede9;
    color: #fcede9;
}

.blog-image a.dark-mode {
    background-color: transparent;
}

.blog-image a.dark-mode:hover {
    background-color: transparent;
}

.blog-image p a.dark-mode {
    background-color: #942700;
}

.blog-image p a.dark-mode:hover {
    background-color: #701e00;
}

.blog-image p.dark-mode {
    border: 5px solid #701e00;
    background-color: #852401;
}

.opinion-card.dark-mode {
    background-color: #701e00;
}

.opinion-meta.dark-mode {
    color: #be3300;

}

#cookie-consent button.dark-mode {
    background: #1f8b22;
    color: white;
}

#cookie-consent button.dark-mode:hover {
    background: #146818;
}

#cookie-consent .decline.dark-mode {
    background: #d4332d;
}

#cookie-consent .decline.dark-mode:hover {
    background: #b11c17;
}

#cookie-consent.dark-mode {
    background: #942700;
    border: 5px solid #701e00;
}



.grid.dark-mode {
    border: 1px solid #701e00;
}

.grid-item.dark-mode {
    border-bottom: 2px solid #701e00;
    background: #701e00;
}

.grid-item.dark-mode a:hover {
    background-color: #701e00;
    border-radius: 0;
}







#results {
    border: 1px solid #701e00;
    background: #942700;
}

#results div {
    background: #942700;
}

.search-result {
    border-bottom: 1px solid #701e00;
}


#results a:hover {
    background-color: #701e00;
}