@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Marcellus&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

p,
li,
ul,
textarea,
.opinion-input,
#search {
    font-family: "Zilla Slab", serif;
    font-weight: 450;
    font-style: normal;
    color: #000;
    font-size: 20px;
    line-height: 1.6rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.version-info,
button,
#myNavbar a,
.nav-text,
h2,
h3,
h4,
h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #000;
    font-size: 18px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #000;
}
::selection,
.underlined::selection {
    background-color: #fb8241;
    color: #382a27;
}

.key-icon {
    width: 16px;
    height: 23px;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
}

.priklad {
    font-family: "Marcellus", serif;
    font-size: 15px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}
h4 {
    font-size: 20px;
}

.verybig {
    font-size: 60px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    color: #000;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: whitesmoke;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

hr {
    background-color: #000;
    height: 3px;
    border: none;
}

img:not(.navImg, footer img),
video {
    border-radius: 10px;
    border: 5px solid #ffad8f;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.Mcard {
    background-color: #ffad8f;
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 16px;
}

.Minfo {
    padding: 0.75rem 1.25rem;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #ff946c;
}

.Mtelo {
    padding: 1rem;
}
.Mnadpis {
    font-size: 1.25rem;
}

@media screen and (max-width: 600px) {
    hr {
        width: 290px;
    }
}

.grid-predmety .subtitle {
    font-size: 13px;
    font-family: "Poppins", sans-serif;
}

main {
    margin-left: 285px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

section {
    max-width: 800px;
    margin: auto auto 5px;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

section:has(div) {
    text-align: left;
    justify-content: left;
    align-items: left;
}

section:has(ul.grid),
section:has(ul.grid-predmety) {
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 15px;
    }

    main {
        margin-left: 0;
        justify-content: left;
        align-items: left;
    }

    section {
        width: 97%;
        max-width: 340px;
        padding: 1px;
        text-align: center;
        aligh-items: center;
    }
}

main a {
    color: #000;
    padding: 3px;
    background-color: #ffad8f;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s ease;
}

main a:hover {
    background-color: #ff7340;
}

.loading-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 79.2%;
    margin-left: 285px;
    height: 5px;
    background-color: transparent;
    z-index: 1030;
    overflow: hidden;
}

.loading-bar {
    height: 5px;
    width: 0;
    background-color: #fb8241;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 600px) {
    .loading-bar-container {
        width: 100%;
        margin-left: 0;
    }
    .verybig {
        font-size: 40px;
    }
}

.underlined {
    text-decoration: underline;
}

.blog-image {
    display: block;
    float: right;
    max-width: 300px;
    min-width: 100px;
    margin-left: 10px;
}

.blog-image div {
    width: auto;
}

.blog-image img {
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.blog-image p {
    float: right;
    padding: 5px;
    margin-bottom: 0;
    border: 5px solid #ff946c;
    background-color: #ffbca4;
    border-radius: 10px;
    text-align: left;
    word-break: break-word;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.blog-image a,
.blog-image a:hover {
    background-color: transparent;
}
.blog-image p a {
    background-color: #ffad8f;
}
.blog-image p a:hover {
    background-color: #ff7340;
}

@media only screen and (max-width: 600px) {
    .blog-image,
    .blog-image p,
    .blog-image img {
        max-width: 100px;
    }
    .blog-image {
        height: auto;
    }
}

button {
    border-radius: 10px;
    border: 0 white;
    background-color: #ff946c;
    cursor: pointer;
    outline: none;
    color: #220b00;
    font-size: 16px;
    padding: 10px 20px;
    margin: 0.5rem;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #ff7340;
    transform: scale(1.05);
    border-color: #000;
}

button:active {
    transform: scale(0.95);
}
button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

@media only screen and (max-width: 600px) {
    button {
        cursor: pointer;
        font-size: 16px;
        padding: 10px 20px;
    }

    .nav-button,
    .opennav-button {
        font-size: 50px;
        position: absolute;
        background-color: transparent;
        top: 0;
        right: 0;
        border: 0 solid black;
    }
}

mn,
mi {
    font-family: "Poppins", sans-serif;
}

textarea,
.opinion-input,
#search {
    border-radius: 10px;
    border: 2px solid #ffad8f;
    background-color: #ffad8f;
    color: #220b00;
    padding: 0.5rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

textarea {
    overflow: hidden;
    resize: none;
}

.opinion-input,
#search {
    width: 20rem;
    margin-bottom: 1rem;
}

.opinion-input:focus,
#search:focus,
textarea:focus {
    border: 2px solid #220b00;
    outline: none;
}

@media only screen and (min-width: 1200px) {
    textarea {
        min-width: 50rem;
        min-height: 25rem;
        max-width: 60rem;
        max-height: 15rem;
    }
}

@media only screen and (max-width: 600px) {
    textarea {
        min-width: 20rem;
        min-height: 10rem;
        max-width: 20rem;
        max-height: 10rem;
    }
}

.opinions-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

.opinion-card {
    background-color: #ffad8f;
    border-radius: 8px;
    padding: 1rem;
    position: relative;
}

.opinion-card:hover {
    transform: translateY(-2px);
}

.opinion-meta {
    display: flex;
    justify-content: space-between;
    color: #6e2300;
    font-size: 0.875rem;
    font-family: "Poppins", sans-serif;
}

.scroll-to-top {
    visibility: visible;
    padding: 1rem 2rem 0;
    margin: auto 0 10px;
}

@media only screen and (max-width: 600px) {
    .scroll-to-top,
    .static-text {
        visibility: hidden;
        padding: 0;
        margin: 0;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;
}

.modal.active {
    display: flex;
}

.modal-content {
    background: whitesmoke;
    padding: 15px;
    border-radius: 10px;
    width: 40vw;
    height: calc(40vw * 9 / 16);
    max-width: 600px;
    max-height: 350px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

#closeSearch {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 10px;
    transition: all ease 0.3s;
}

#closeSearch:hover {
    background-color: #d4332e;
}
#search {
    margin: 20px auto 10px;
}

#results {
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    border: 1px solid #fb8241;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
    scrollbar-color: #ff9c66 transparent;
    transition: all 0.3s ease;
    background: #ffad8f;
}

#results div {
    list-style: none;
    padding: 0;
    background: #ffad8f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.search-result {
    border-bottom: 1px solid #fb8241;
}
#results div:last-child {
    border-bottom: none;
}

#results a {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: transparent;
    text-align: left;
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    max-width: 300px;
}

#results a:hover {
    background-color: #ff7340;
    transition: background-color 0.3s ease-in-out;
}

.search-snippet {
    font-size: 0.9em;
    text-align: right;
    min-width: 120px;
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-snippet span {
    font-weight: bold;
}

@media (max-width: 600px) {
    .modal-content {
        width: 80vw;
        height: 80vw;
        max-width: 480px;
        max-height: 480px;
    }

    #search {
        width: 80%;
        margin: 20px auto 10px;
    }
}

body.scroll-lock {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

#cookie-consent {
    position: fixed;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffad8f;
    border: 5px solid #ff946c;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1041;
}

#cookie-consent p {
    margin: 0;
}

#cookie-consent button {
    background: #3aa73d;
    color: white;
    width: 150px;
}

#cookie-consent button:hover {
    background: #248f29;
}
#cookie-consent .decline {
    background: #d4332e;
}
#cookie-consent .decline:hover {
    background: #b12722;
}

@media screen and (max-width: 600px) {
    #cookie-consent {
        width: 300px;
        bottom: 50px;
        flex-direction: column;
        gap: 5px;
    }
}

/* Dark mode styles */
body.dark-mode {
    background-color: #1f0900;
    color: #fcede9;
}

footer.dark-mode {
    background-color: #701e00;
    color: #fcede9;
}

.footer-content.dark-mode:hover {
    background-color: #942700;
    color: #fcede9;
}

.grid-item-pred.dark-mode {
    border-color: #701e00;
    background-color: #701e00;
}

.grid-item-pred.dark-mode:hover {
    border-color: #fcede9;
}

button.dark-mode {
    background-color: #942700;
    color: #fcede9;
}

button.dark-mode:hover {
    background-color: #701e00;
}
#MyNavBar.dark-mode {
    background-color: #701e00;
}
.scrollable-menu.dark-mode {
    scrollbar-color: #942700 #701e00;
}
.mobile-menu.dark-mode {
    background-color: #701e00;
}
.mobile-menu.dark-mode .nav-link:hover {
    background-color: #942700;
}
.mobile-header.dark-mode {
    background-color: #701e00;
}

p.dark-mode,
li.dark-mode,
ul.dark-mode,
textarea.dark-mode,
.opinion-input.dark-mode,
#search.dark-mode,
.version-info.dark-mode,
button.dark-mode,
#myNavbar a.dark-mode,
.nav-text.dark-mode,
h2.dark-mode,
h3.dark-mode,
h4.dark-mode,
h5.dark-mode,
#MyNavBar .nav-text.dark-mode,
#MyNavBar .nav-item.dark-mode {
    color: #fcede9;
}

.navImg:hover.dark-mode,
#MyNavBar .nav-link.dark-mode:hover {
    background-color: #942700;
}
hr.dark-mode {
    background-color: #fcede9;
}

main a.dark-mode {
    color: #fcede9;
    background-color: #942700;
}

main a.dark-mode:hover {
    background-color: #701e00;
}
.version-info.dark-mode {
    color: #be3300;
}

.Mcard.dark-mode {
    background-color: #942700;
    border: 1px solid #701e00;
}

.Minfo.dark-mode {
    background-color: #701e00;
}
.loading-bar.dark-mode {
    background-color: #942700;
}

.opinion-input.dark-mode,
#search.dark-mode,
textarea.dark-mode {
    border: 2px solid #942700;
    background-color: #942700;
}

.opinion-input.dark-mode:focus,
#search.dark-mode:focus,
textarea.dark-mode:focus {
    border: 2px solid #fcede9;
    outline: none;
}

img:not(.navImg, footer img).dark-mode,
video.dark-mode {
    border: 5px solid #942700;
}

.underlined.dark-mode::selection {
    background-color: #fb8241;
    color: #382a27;
}

.modal-content.dark-mode {
    background: #701e00;
}
#results.dark-mode {
    scrollbar-color: #942700 #701e00;
    border: 1px solid #701e00;
    background: #942700;
}

#results div.dark-mode {
    background: #942700;
}
.search-result.dark-mode {
    color: #6b1010;
    border-bottom: 1px solid #701e00;
}

.key-icon.dark-mode {
    border: 1px solid #fcede9;
    color: #fcede9;
}

.blog-image a.dark-mode,
.blog-image a.dark-mode:hover {
    background-color: transparent;
}
.blog-image p a.dark-mode {
    background-color: #942700;
}
.blog-image p a.dark-mode:hover {
    background-color: #701e00;
}

.blog-image p.dark-mode {
    border: 5px solid #701e00;
    background-color: #852401;
}

.opinion-card.dark-mode {
    background-color: #701e00;
}
.opinion-meta.dark-mode {
    color: #be3300;
}

#cookie-consent button.dark-mode {
    background: #1f8b22;
    color: white;
}

#cookie-consent button.dark-mode:hover {
    background: #146818;
}
#cookie-consent .decline.dark-mode {
    background: #d4332d;
}
#cookie-consent .decline.dark-mode:hover {
    background: #b11c17;
}

#cookie-consent.dark-mode {
    background: #942700;
    border: 5px solid #701e00;
}

.grid.dark-mode {
    border: 1px solid #701e00;
}

.grid-item.dark-mode {
    border-bottom: 2px solid #701e00;
    background: #701e00;
}

.grid-item.dark-mode a:hover {
    background-color: #701e00;
    border-radius: 0;
}

#results a:hover.dark-mode {
    background-color: #701e00;
}
.verybig.dark-mode {
    color: #fcede9;
}
