table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}



th,
td {
    padding: 10px;
    text-align: left;
    background-color: #ffad8f;
    text-align: center;
}

th {
    background-color: #ff946c;
}