table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin: 2px;
}

th,
td {
    padding: 10px;
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

th {
    background-color: #35393f;
    color: white;
    border-right: 1px;
}

td:first-child {
    background-color: #35393f;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

p {
    margin: 10px;
}

td {
    background-color: #1f1f1f;
}