table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin: 2px;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ff946c;
    border-right: 1px;
}

td:first-child {
    background-color: #ff946c;
    color: white !important;
}

p {
    margin: 10px;
}

td {
    background-color: #ffad8f;
}